# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/opencv-baidu
/opencv-baidu/x64/Debug
/opencv-baidu.sln
/opencv-baidu/opencv-baidu.vcxproj.user
/opencv-baidu/opencv-baidu.vcxproj.filters
/opencv-baidu/opencv-baidu.vcxproj

.vs/
.vscode/
/build/*
/res/model/*
!/res/model/yolov3_mobilenet_v1
# *.jpg
# *.mp4
*年*月*日*.json
